@import '../../../config-scss/rem-calc.scss';
//só esta mechendo dentro desses componentes
:host {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem-calc(40);
    }
}